@inherits Atles.Client.Components.Themes.PrivacyComponent

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">@Loc["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Privacy"]</li>
    </ol>
</nav>

<h4 class="mb-3">@Loc["Privacy Statement"]</h4>

<p>@((MarkupString)Site.Privacy)</p>
