@inherits Atles.Client.Components.Themes.TermsComponent

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">@Loc["Home"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Loc["Terms"]</li>
    </ol>
</nav>

<h4 class="mb-3">@Loc["Terms of Service"]</h4>

<p>@((MarkupString)Site.Terms)</p>
