@page "/admin/forum-groups/edit/{id:guid}"
@using Atlas.Shared.Models.Admin.ForumGroups
@attribute [Authorize(Policy = "Admin")]
@inject HttpClient Http
@inject NavigationManager navigationManager

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/forum-groups">Forum Gorups</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Title</li>
    </ol>
</nav>

<h3 class="mb-3">@Title</h3>

@if (_model == null)
{
    <Loading />
}
else
{
    <Form _model="_model" Button="Update" OnValidSubmit="@UpdateAsync" />
}

@code {
    private const string Title = "Edit Forum Group";
    [Parameter]
    public Guid Id { get; set; }
    private FormModel _model { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _model = await Http.GetFromJsonAsync<FormModel>($"api/admin/forum-groups/edit/{Id}");
    }

    private async Task UpdateAsync()
    {
        await Http.PostAsJsonAsync($"api/admin/forum-groups/update", _model.ForumGroup);
        navigationManager.NavigateTo("/admin/forum-groups");
    }
}
