<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Atlas</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home mr-2" style="font-size:1.5rem;"></i> Home
            </NavLink>
        </li>
        <AuthorizeView Policy="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                    <i class="fas fa-cogs mr-2" style="font-size:1.5rem;"></i> Admin
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/categories">
                    <i class="far fa-folder mr-2" style="font-size:1.5rem;"></i> Categories
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/forums">
                    <i class="far fa-comments mr-2" style="font-size:1.5rem;"></i> Forums
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/settings">
                    <i class="fas fa-cog mr-2" style="font-size:1.5rem;"></i> Settings
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
