@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IJSRuntime JSRuntime

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Atlas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-light">Home</a>
                    </li>
                    <AuthorizeView Policy="Admin">
                        <li class="nav-item">
                            <a href="/admin" class="nav-link text-light">Admin</a>
                        </li>
                    </AuthorizeView>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <a href="authentication/profile" class="nav-link text-light">Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-light" @onclick="BeginSignOut">Log out</a>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <a href="authentication/login" class="btn btn-outline-secondary text-light mr-1">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a href="authentication/register" class="btn btn-outline-secondary text-light">Register</a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pb-3">
    <div class="container">
        @Body
    </div>
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.UtcNow.Year - Atlas - <a href="/privacy">Privacy</a>
    </div>
</footer>

@code {
    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("addCssFile", "public");
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
