@page "/admin/forum-groups/create"
@using Atlas.Shared.Models.Admin.ForumGroups
@attribute [Authorize(Policy = "Admin")]
@inject HttpClient Http
@inject NavigationManager navigationManager

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/forum-groups">Forum Gorups</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Title</li>
    </ol>
</nav>

<h3 class="mb-3">@Title</h3>

@if (_model == null)
{
    <Loading />
}
else
{
    <Form _model="_model" Button="Save" OnValidSubmit="@SaveAsync" />
}

@code {
    private const string Title = "Create Forum Group";
    private FormModel _model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _model = await Http.GetFromJsonAsync<FormModel>("api/admin/forum-groups/create");
    }

    private async Task SaveAsync()
    {
        await Http.PostAsJsonAsync($"api/admin/forum-groups/save", _model.ForumGroup);
        navigationManager.NavigateTo("/admin/forum-groups");
    }
}
