@using Atlas.Models.Public

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model.Topic" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <InputText id="title" @bind-Value="Model.Topic.Title" Class="form-control" />
                <ValidationMessage For="@(() => Model.Topic.Title)" />
            </div>
            <div class="form-group">
                <label for="content" class="control-label">Content</label>
                <InputTextArea id="content" @bind-Value="Model.Topic.Content" Class="form-control" />
                <ValidationMessage For="@(() => Model.Topic.Content)" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Button" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>
            </div>
            <ValidationSummary />
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public PostPageModel Model { get; set; }

    [Parameter]
    public bool IncludeTitle { get; set; } = true;
    [Parameter] public string Button { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
}