@*@layout PublicLayout*@
@page "/forum/{id:guid}"
@using Atlas.Models.Public
@inject AnonymousService Service;
@inject NavigationManager Navigation

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model?.Forum.Name</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3">@Model?.Forum.Name</h3>
    </div>
    <div class="col-md-6 text-right mb-3">
        <AuthorizeView>
            <Authorized>
                <a href="/forum/@Model?.Forum.Id/post" class="btn btn-primary" role="button">New Topic</a>
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login?returnUrl=@Uri.EscapeDataString(Navigation.Uri)">Log in</a> to start a new discussion.
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@if (Model == null)
{
    <Loading />
}
else if (Model.Topics.Items.Count == 0)
{
    <NoRecords Text="No topics found for this forum." />
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Title</th>
                <th scope="col">Total Replies</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Topics.Items)
            {
                <tr>
                    <td class="text-center">&nbsp;</td>
                    <td><a href="/forum/@Model.Forum.Id/@item.Id">@item.Title</a></td>
                    <td class="text-center">@item.TotalReplies</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>

    <Pager TotalPages="Model.Topics.TotalPages" OnLoadDataCallback="@LoadDataAsync"></Pager>
}

@code {
    [Parameter] public Guid Id { get; set; }
    private ForumPageModel Model { get; set; }

    private async Task LoadDataAsync(int page)
    {
        Model = await Service.GetFromJsonAsync<ForumPageModel>($"api/public/forum/{Id}?page={page}");
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync(1);
    }
}