@*@layout PublicLayout*@
@page "/forum/{id:guid}"
@using Atlas.Shared.Site.Models
@inject AnonymousService service;

@if (Model == null)
{
    <Loading />
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Forum.Name</li>
        </ol>
    </nav>

    <h3>@Model.Forum.Name</h3>
}

@code {
    [Parameter] public Guid Id { get; set; }
    private ForumPageModel Model { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Model = await service.GetFromJsonAsync<ForumPageModel>($"api/index/forum/{Id}");
    }
}