@*@layout PublicLayout*@
@page "/"
@using Atlas.Shared.Site.Models
@inject AnonymousService service;

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="row">
        @foreach (var forumGroup in Model.Categories)
        {
        <div class="col-md-12">
            @if (Model.Categories.Count > 1)
            {
                <h3 class="mb-2">@forumGroup.Name</h3>
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-4">Forum</th>
                        <th scope="col" class="col-md-2 text-center">Topics</th>
                        <th scope="col" class="col-md-2 text-center">Replies</th>
                        <th scope="col" class="col-md-4">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forum in forumGroup.Forums)
                    {
                        <tr>
                            <td><a href="/forum/@forum.Id">@forum.Name</a></td>
                            <td class="text-center">@forum.TotalTopics</td>
                            <td class="text-center">@forum.TotalReplies</td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }
    </div>
}

@code {
    private IndexPageModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await service.GetFromJsonAsync<IndexPageModel>("api/index/index-model");
    }
}