@page "/terms"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
    </ol>
</nav>

<h4 class="mb-3">Terms of Use</h4>

<p>Terms of Use</p>
