@page
@model Atlas.Areas.Admin.Pages.ForumGroups.CreateModel

@{
    ViewData["Title"] = "Create Forum Group";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/ForumGroups/Index">Forum Groups</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ForumGroup.Name" class="control-label"></label>
                <input asp-for="ForumGroup.Name" class="form-control" />
                <span asp-validation-for="ForumGroup.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumGroup.PermissionSetId" class="control-label"></label>
                <select asp-for="ForumGroup.PermissionSetId" class="form-control" asp-items="ViewBag.PermissionSetId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
