@inherits Atles.Client.Shared.ReactionButtonsComponent

@if (CanReact)
{
    if (!Reacted)
    {
        <a href="#" @onclick:preventDefault="true" @onclick="@AddReactionCallback" title="@Loc["Like"]">
            <i class="far fa-thumbs-up"></i>
        </a>
    }
    else
    {
        <a href="#" @onclick:preventDefault="true" @onclick="@RemoveReactionCallback" title="@Loc["Remove Like"]">
            <i class="fas fa-thumbs-up"></i>
        </a>
    }
}