@inherits Atles.Client.Shared.ReactionButtonsComponent

@if (CanReact)
{
    if (!Reacted)
    {
        <a href="#" @onclick:preventDefault="true" @onclick="@AddReactionCallback">
            <i class="fas fa-thumbtack mr-1"></i>
            Like
        </a>
    }
    else
    {
        <a href="#" @onclick:preventDefault="true" @onclick="@RemoveReactionCallback">
            <i class="fas fa-thumbtack mr-1"></i>
            Remove Like
        </a>
    }
}