@page
@model Atlas.Areas.Admin.Pages.Forums.CreateModel

@{
    ViewData["Title"] = "Create Forum";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Forum.ForumGroupId" class="control-label"></label>
                <select asp-for="Forum.ForumGroupId" class="form-control" asp-items="ViewBag.ForumGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Forum.Name" class="control-label"></label>
                <input asp-for="Forum.Name" class="form-control" />
                <span asp-validation-for="Forum.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forum.PermissionSetId" class="control-label"></label>
                <select asp-for="Forum.PermissionSetId" class="form-control" asp-items="ViewBag.PermissionSetId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
