@layout AdminLayout
@page "/admin/members/create"
@using Atlas.Models.Admin.Members
@attribute [Authorize(Policy = "Admin")]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/members">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Title</li>
    </ol>
</nav>

<h3 class="mb-3">@Title</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="Save" OnValidSubmit="@SaveAsync"></Form>
}

@if (Error)
{
    <SomethingWrong />
}

@code {
    private const string Title = "Create New Member";
    private CreatePageModel Model { get; set; }
    public bool Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<CreatePageModel>("api/admin/members/create");
    }

    private async Task SaveAsync()
    {
        try
        {
            await Http.PostAsJsonAsync($"api/admin/members/save", Model.Member);
            NavigationManager.NavigateTo("/admin/members");
        }
        catch (Exception e)
        {
            Error = true;
        }
    }
}
