@layout AdminLayout
@page "/admin/members/create"
@using Atlas.Models.Admin.Members
@attribute [Authorize(Policy = "Admin")]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/members">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Title</li>
    </ol>
</nav>

<h3 class="mb-3">@Title</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <Form Model="Model" Button="Save" OnValidSubmit="@SaveAsync"></Form>
}

@code {
    private const string Title = "Create New Member";
    private FormComponentModel Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<FormComponentModel>("api/admin/members/create");
    }

    private async Task SaveAsync()
    {
        await Http.PostAsJsonAsync($"api/admin/members/save", Model.Member);
        NavigationManager.NavigateTo("/admin/members");
    }
}
